

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  
    <div class="container">
      <div class="row">
        <!-- Form -->
        <div class="inner-wrapper">
          <form [formGroup]="userForm" (ngSubmit)="submitUserForm()" #resetUserForm="ngForm" novalidate>
            
            <mat-card class="box">

              <mat-card-header>
                <mat-card-title>  Add New Admin User  </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <div class="controlers-wrapper">
                  
                  <!-- First Name -->
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First name" formControlName="first_name">
                    <mat-error *ngIf="handleError('first_name', 'required')">
                      You must provide a<strong>first name</strong>
                    </mat-error>
                  </mat-form-field>
          
                  <!-- Last Name -->
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last name" formControlName="last_name">
                    <mat-error *ngIf="handleError('last_name', 'required')">
                      You must provide a<strong>last name</strong>
                    </mat-error>
                  </mat-form-field>
          
                  <!-- Email -->
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="admin_email">
                    <mat-error *ngIf="handleError('user_email', 'required')">
                      You must provide an<strong> email</strong>
                    </mat-error>
                  </mat-form-field>

                   <!-- Password -->
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" formControlName="admin_password">
                  <mat-error *ngIf="handleError('admin_password', 'required')">
                    You must provide a <strong> password </strong>
                  </mat-error>
                </mat-form-field>
          
                  <!-- Address -->
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full Address" formControlName="fulladdress">
                    <mat-error *ngIf="handleError('fulladdress', 'required')">
                      You must provide an<strong> address </strong>
                    </mat-error>
                  </mat-form-field>
          
                
          
                </div>
                <div class="controlers-wrapper">
                  
                  <!-- SSN -->
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="SSN" formControlName="ssn">
                  <mat-error *ngIf="handleError('ssn', 'required')">
                    You must provide a <strong> SSN </strong>
                  </mat-error>
                </mat-form-field>
        
                <!-- Date of birth -->
                <mat-form-field>
                  <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
                    (dateChange)="formatDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="handleError('dob', 'required')">
                    Date of birth is required
                  </mat-error>
                </mat-form-field>
        
                <!-- Gender -->
                <div class="misc-bottom-padding">
                  <mat-label>Gender:</mat-label>
                  <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                  </mat-radio-group>
                </div>
        
                
        
              </div>

              <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                  <button mat-flat-button color="warn" class="btn btn-success align-center">Submit</button>
                </div>
              </div>

              </mat-card-content>
            </mat-card>
        
            
        
            
        
          </form>
        </div>
      </div>
    </div>
  
</div>


