
<div class="container">
  <div class="row">

      <!-- Title group  -->
      <div class="title-group">
        <div class="row">
          <h1 class="mat-h1">Detail User</h1>
        </div>
        <div class="row ">
          <mat-divider  fxFlex="1 0"></mat-divider>
          <br>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- Form -->
    <div class="inner-wrapper">
      <form [formGroup]="userForm" (ngSubmit)="submitUserForm()" #resetUserForm="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
          <div class="controlers-wrapper">
              
            <!-- First Name -->
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput disabled readonly formControlName="first_name">
            </mat-form-field>

            <!-- Last Name -->
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput disabled readonly formControlName="last_name">
              
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput disabled readonly formControlName="user_email">
              
            </mat-form-field>

            <!-- Address -->
            <mat-form-field class="example-full-width">
              <mat-label> Address </mat-label>
              <input matInput disabled readonly formControlName="fulladdress">
              
            </mat-form-field>

          

          </div>
        </mat-card>

        <!-- Right block -->
        <mat-card>
          <div class="controlers-wrapper">
            
              <!-- SSN -->
            <mat-form-field class="example-full-width">
              <input matInput readonly disabled formControlName="ssn">
              
            </mat-form-field>

            <!-- Date of birth -->
            <mat-form-field>
              <mat-label>Date of Birth</mat-label>
              <input matInput disabled readonly [matDatepicker]="picker" formControlName="dob"
                (dateChange)="formatDate($event)">
              <mat-datepicker-toggle readonly matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker readonly #picker></mat-datepicker>
              
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Gender</mat-label>
              <input matInput readonly disabled formControlName="gender">
            </mat-form-field>

          </div>
        </mat-card>

      </form>
    </div>
  </div>
</div>
      
